# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment files
.env
.env.*

# Virtual environments
venv/
.venv/
env/
ENV/

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
pnpm-lock.yaml

# Expo / React Native
.expo/
web-build/
.expo-shared/

# Build
dist/
build/

# IDEs
.vscode/
.idea/
.DS_Store

# Logs
logs/
*.log

# Misc
*.sqlite3
*.db


password.txt